In [1]:
import pandas as pd

In [27]:
training_data = {'color': ['green','yellow','red','red','yellow'],
                 'size': [3,3,1,1,3],
                 'fruit':['mango','mango','grape','grape','lemon']
                }
df=pd.DataFrame(training_data)

In [28]:
df

    color  size  fruit
0   green     3  mango
1  yellow     3  mango
2     red     1  grape
3     red     1  grape
4  yellow     3  lemon

In [29]:
from sklearn.preprocessing import LabelEncoder
a=LabelEncoder()
df['colour']=a.fit_transform(df['color'])

In [30]:
df

    color  size  fruit  colour
0   green     3  mango       0
1  yellow     3  mango       2
2     red     1  grape       1
3     red     1  grape       1
4  yellow     3  lemon       2

In [31]:
target=df['fruit']

In [34]:
df.drop(['color'],axis=1,inplace=True)

In [35]:
df

   size  colour
0     3       0
1     3       2
2     1       1
3     1       1
4     3       2

In [36]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [37]:
model.fit(df,target)

DecisionTreeClassifier()

In [38]:
model.score(df,target)

0.8

In [40]:
model.predict([[3,2]])

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['lemon'], dtype=object)